* { margin: 0;
     padding: 0;
      font-family: 'Segoe UI', sans-serif;
     }

.navbar {
    padding: 20px 30px;
    background: white;
}

.back-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.detail-hero {
    height: 400px;
    background: url('https://images.unsplash.com/photo-1539037116277-4db20889f2d4?auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-content h1{
    font-size:64px;
}

.detail-container { 
    max-width: 1100px;
     margin: 50px auto;
      padding: 20px; 
    }

h2, h3 { 
    margin-bottom: 20px;
}

.main-text p { 
    margin-bottom: 20px;
     font-size: 20px; 
     color: black; }

.visit-list { list-style: none; }
.visit-list li {
    margin-bottom: 15px;
    padding-left: 20px;
}
.info-card ul { list-style: none; margin: 20px 0; }
.info-card li { margin-bottom: 10px; font-size: 0.9rem; }

.book-btn {
    width: 100%;
    padding: 15px;
    background: var(--dark);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.gallery { margin-top: 80px; }
.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.photo-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    background: white;
    color: black;
}