* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    height: 500px;
    background: url('https://images.unsplash.com/photo-1504019347908-b45f9b0b8dd5?auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}


.container {
    max-width: 1200px;
    margin: -60px auto;
    padding: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}


.card {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.card:hover {
   box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.card-image {
    height: 220px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.card-content {
    padding: 25px;
}

.card-content h3 {
    font-size: 34px;
    margin-bottom: 15px;
}

.card-content p {
    margin-bottom: 25px;
}

.btn {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

.btn:hover {
    color: grey;
}

footer {
    text-align: center;
    padding: 20px;
    background: white;
    color: black;
}